In [ ]:
# pymysql 라이브러리 읽어 들이기 --- (※1)
import pymysql


# MySQL 연결하기 --- (※2)
conn = pymysql.connect(
    host='localhost',
    user='dba',
    password='dbapwd',
    db='python'
)


# 커서 추출하기 --- (※3)
cur = conn.cursor()


# 테이블 생성하기 --- (※4)
cur.execute('DROP TABLE IF EXISTS items')
cur.execute('''
    CREATE TABLE items (
        item_id INT PRIMARY KEY AUTO_INCREMENT,
        name VARCHAR(20),
        price INT
    )
''')


# 데이터 추가하기 --- (※5)
data = [('Banana', 300), ('Mango', 640), ('Kiwi', 280)]
for i in data:
    cur.execute("INSERT INTO items (name,price) VALUES (%s,%s)", i)
conn.commit()


# 데이터 추출하기 --- (※6)
cur.execute("SELECT * FROM items")

for row in cur.fetchall(): # 실행한 결과를 모두 추출한다.
    print(row)# 튜플형으로 출력된다.