## pymysql 모듈 이해 및 실습

### pymysql 라이브러리 소개 및 설치
* mysql을 python에서 사용할 수 있는 라이브러리 
   - pymysql 라이브러리 이외에도 MySQLdb(Mysql-pytion), MySQL connector 등 다양한 라이브러리 존재
   - 이 중에서 가장 쉽고 많이 사용하는 라이브러리임
### pymysql 설치

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

### 1. pymysql 기본 코드 패턴
- PyMySql 모듈 import
- pymysql.connect() 메소드를 사용하여 MySQL에 연결
     - 호스트명, 포트, 로그인, 암호, 접속할 DB 등을 파라미터로 지정
- MySQL 접속이 성공하면, Connection 객체로부터 cursor() 메서드를 호출하여 Cursor 객체를 가져옴
- Cursor 객체의 execute() 메서드를 사용하여 SQL 문장을 DB 서버에 전송
- SQL 쿼리의 경우 Cursor 객체의 fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 서버로부터 가져온 데이타를 코드에서 활용
- 삽입, 갱신, 삭제 등의 DML(Data Manipulation Language) 문장을 실행하는 경우, INSERT/UPDATE/DELETE 후 Connection 객체의 commit() 메서드를 사용하여 데이타를 확정
- Connection 객체의 close() 메서드를 사용하여 DB 연결을 닫음

#### [1] PyMySql 모듈 import

In [2]:
import pymysql

#### [2] pymysql.connect() 메소드를 사용하여 MySQL에 연결
     - 호스트명, 포트, 로그인, 암호, 접속할 DB 등을 파라미터로 지정
     - 주요 파라미터
       - host : 접속할 mysql server 주소
       - port : 접속할 mysql server 의 포트 번호
       - user : mysql ID
       - passwd : mysql ID의 암호
       - db : 접속할 데이터베이스
       - charset='utf8' : mysql에서 select하여 데이타를 가져올 때 한글이 깨질 수 있으므로 연결 설정에 넣어줌

In [10]:
import pymysql
db = pymysql.connect(
    host='localhost', # 127.0.0.1 , 0.0.0.0 
    port=3306, 
    user='root', # root
    passwd='12345678', 
    db='ecommerce', 
    charset='utf8')

In [11]:
db

#### [3] MySQL 접속이 성공하면, Connection 객체로부터 cursor() 메서드를 호출하여 Cursor 객체를 가져옴
#### [4] Cursor 객체의 execute() 메서드를 사용하여 SQL 문장을 DB 서버에 전송

#### [5] 테이블 생성
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [12]:
ecommerce = db.cursor() #접속정보 실행

In [13]:
ecommerce #프린트 생략

#### [6] cursor 는 control structure of database 입니다. (연결된 객체로 보셔도 좋습니다.)

In [14]:
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

#### [7]  SQL 실행 (Cursor 객체의 execute() 메서드를 사용하여 INSERT, UPDATE 혹은 DELETE 문장을 DB 서버에 보냄)

In [15]:
ecommerce.execute(sql) # [ecommerce = db.cursor()].execute 안에 문자 그대로 넣어도 실행은 가능

0

#### [8] 삽입, 갱신, 삭제 등이 모두 끝났으면 Connection 객체의 commit() 메서드를 사용하여 데이타를 Commit

In [16]:
db.commit()

#### [9] Connection 객체의 close() 메서드를 사용하여 DB 연결을 닫음

In [17]:
db.close()

### 2. 패턴으로 익히는 pymysql

### 기본 패턴 코드
> ecommerce 데이터베이스에서 product 테이블을 삭제한 후 실행해야 함

In [19]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(
    host='localhost', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='ecommerce', 
    charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)
sql = '''
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

# 5. SQL 구문 실행하기
cursor.execute(sql)

# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

### 데이터 삽입(INSERT) 패턴 코드
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [ ]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(
    host='localhost', 
    port=3306, 
    user='root', 
    passwd='12345678',
    db='ecommerce', 
    charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

for index in range(10):
    product_code = 215673140 + index + 1
    SQL = """INSERT INTO product VALUES('""" + str(product_code) + """',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'
    );
    """
    print(SQL)
    cursor.execute(SQL)


# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

### 데이터 조회(SELECT) 패턴 코드
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - mysql 서버로부터 데이터 가져오기: 다음과 같은 fetch 관련 메서드 사용

   1. **fetchall()** : 이 메소드는 쿼리 결과의 모든 행을 가져옵니다. 결과는 튜플의 튜플로 반환됩니다. 각 내부 튜플은 하나의 레코드를 나타냅니다.
      -- 결과물은 findall()과 같다.

```python
cursor.execute("SELECT * FROM MyTable")
rows = cursor.fetchall()
for row in rows:
    print(row)
```
    
    위 코드에서 `fetchall()`은 테이블의 모든 행을 반환합니다. 

2. **fetchone()** : 이 메소드는 쿼리 결과의 다음 행을 가져옵니다. 결과는 하나의 튜플로 반환되며, 튜플의 각 요소는 각 필드를 나타냅니다. 더 이상 가져올 행이 없으면 None을 반환합니다.

```python
cursor.execute("SELECT * FROM MyTable")
row = cursor.fetchone()
while row is not None:
    print(row)
    row = cursor.fetchone()
```
    위 코드에서 `fetchone()`은 테이블의 한 행씩 순차적으로 반환합니다.

3. **fetchmany(size)** : 이 메소드는 쿼리 결과의 다음 행들을 가져옵니다. 'size'는 가져올 행의 수를 지정합니다. 결과는 튜플의 튜플로 반환됩니다.

```python
cursor.execute("SELECT * FROM MyTable")
rows = cursor.fetchmany(5)
while rows:
    print(rows)
    rows = cursor.fetchmany(5)
```
    위 코드에서 `fetchmany(5)`는 테이블의 다섯 행씩 순차적으로 반환합니다.

In [24]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(
    host='localhost', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='ecommerce', 
    charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()
SQL = "SELECT * FROM product"
cursor.execute(SQL)
rows = cursor.fetchmany(7)
for row in rows:
    print (row)
    rows = cursor.fetchmany(7)

# 7. DB 연결 닫기
db.close()

('215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

### 데이터 수정(UPDATE)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [25]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(
    host='localhost', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='ecommerce', 
    charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

SQL = """
    UPDATE product SET
        TITLE ='달리샵린넨원피스 뷔스티에 썸머 가디건 코디전',
        ORI_PRICE=33000,
        DISCOUNT_PRICE=9900,
        DISCOUNT_PERCENT=70
    WHERE PRODUCT_CODE = '215673141'
"""
print(SQL)

cursor.execute(SQL)
db.commit()
db.close()

    UPDATE product SET
        TITLE ='달리샵린넨원피스 뷔스티에 썸머 가디건 코디전',
        ORI_PRICE=33000,
        DISCOUNT_PRICE=9900,
        DISCOUNT_PERCENT=70
    WHERE PRODUCT_CODE = '215673141'

### 데이터 삭제(DELETE)
  - Cursor Object 가져오기: cursor = db.cursor()  
  - SQL 실행하기: cursor.execute(SQL)
  - 실행 mysql 서버에 확정 반영하기: db.commit()

In [27]:
import pymysql

db = pymysql.connect(
    host='localhost', 
    port=3306, 
    user='root', 
    passwd='12345678',  
    db='ecommerce', 
    charset='utf8')
cursor = db.cursor()

SQL = """DELETE FROM product WHERE PRODUCT_CODE = '215673142'; """
print(SQL)

cursor.execute(SQL)
db.commit()
db.close()

DELETE FROM product WHERE PRODUCT_CODE = '215673142';